.footer{
    background-color: #6e4b33 ;
    height: 10vh;
    
border-radius: 2px;
position: absolute;
width: 100%;
bottom: 0px;
}
.footer .text{
    text-align: center;
    color: white;
    align-items: center;
    align-content: center;
    position: relative;
    top: 30px;
}