<div class="card">
  <p-dataView #dv [value]="cars" [rows]="1" filterBy="name" layout="grid">
    <ng-template pTemplate="header">
      <div style="display: flex; justify-content: space-between;"
        class=" flex flex-column md:flex-row md:justify-content-between">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-cars pTemplate="listItem">
      <div class="col-12">
        <div class="product-list-item ">
          <img src="{{cars.image}}" [alt]="cars.name" />
          <div class="product-list-detail">
            <div class="product-name">{{cars.name}}</div>
            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{cars.category}}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">{{cars.price}}&nbsp;EGP</span>
            <p-button (click)="Toast()" icon="pi pi-shopping-cart" label="Add to Cart"></p-button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-cars pTemplate="gridItem">
      <div class="col-4 md:col-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{cars.category}}</span>
            </div>
            <span [class]="'product-badge status-' + cars.sugar">{{cars.sugar}}</span>
          </div>
          <div class="product-grid-item-content">
            <img src="{{cars.image}}" [alt]="cars.name" />

            <div class="product-name">{{cars.name}}</div>
          </div>
          <div class="product-grid-item-bottom">
            <div class="col-10">

              <span class="product-price">{{cars.price}}&nbsp;EGP</span>

            </div>
            <div class="col-2">
              <p-button (click)="Toast()" class="btn-grid" icon="pi pi-shopping-cart"></p-button>
            </div>

          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
<div id="snackbar"><i class="pi pi-check"></i>&nbsp; Item Added to your Cart..</div>
